.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__nav {
    display: flex;
}

.header__nav li {
    padding: 0 20px;
}

.header__nav a {
    color: var(--white);
    text-decoration: none;
}
.header__social a:last-child {
    padding-left: 20px;
}

@media (max-width: 769px) {
    .header,
    .header__nav {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    .header__nav li {
        padding-top: 10px;
    }
}