:root {
    --background-color: #090E18;
    --text-hightlight: #1572B6;
    --white: #fff;
    --font-size: 20px;
}

@media (max-width: 769px) {
    :root {
        --background-color: red;
        --text-highlight: #b68615;
        --white: #fff;
    
        --font-size: 10px;
    }
}